<div class="modal-header">
  <h4 class="modal-title">{{ title || "Confirm Action" }}</h4>
  <button type="button" class="btn-close" (click)="activeModal.dismiss('closed with x')"></button>
</div>

<div class="modal-body">
  <div class="d-flex align-items-center">
    <i class="bi bi-exclamation-triangle-fill text-warning me-3" style="font-size: 2rem"></i>
    <div>
      <form [formGroup]="form">
        <label>Account Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
          <span style="color: red">* Name is required</span>
        </div>

        <label>Account Type</label>
        <select class="form-control" formControlName="accountTypeId">
          <option value="">Select Account Type...</option>
          @for(accountType of accountTypes; track accountType){
          <option [value]="accountType">{{ accountType.name }}</option>
          }
        </select>
        <div *ngIf="form.controls['accountTypeId'].invalid && form.controls['accountTypeId'].touched">
          <span style="color: red">* Account Type is required</span>
        </div>

             <label>Account User</label>
             <!-- <select class="form-control" formControlName="accountUserId">
              <option value 
             </select> -->


      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('closed with cancel')">
    {{ "Cancel" }}
  </button>
  <button type="button" class="btn btn-primary" (click)="confirm('save as new')">
    {{ "Save" }}
  </button>
  <button type="button" class="btn btn-primary" (click)="confirm('save and continue')">
    {{ "Save & Continue" }}
  </button>
</div>
