<div class="container-fluid">
  <div class="form-container">
    <div class="selects-section">
      <select class="form-control" #selectRef (change)="accountTypeChanged(selectRef.value)">
        <option value="">Select Account Type...</option>
        @for(accountType of accountTypes; track accountType){
        <option [value]="accountType">{{ accountType.name }}</option>
        }
      </select>

      <select class="form-control" #selectRef (change)="accountUserChanged(selectRef.value)">
          <option value="">Select Account User...</option>
        @for(accountUser of accountUsers; track accountUser){        
        <option [value]="accountUser">{{ accountUser.email }}</option>
        }
      </select>
    </div>

    <div class="section">
      <button class="btn btn-outline-warning" (click)="addNewAccount()">Add New</button>
    </div>

    <div class="section">
      <egibi-table #accountsTable [columns]="tableColumns" [data]="accounts"></egibi-table>
    </div>
  </div>
</div>
