  <div class="modal-header">
      <h4 class="modal-title" id="modal-title">{{ title }}</h4>
      <button 
        type="button" 
        class="btn-close" 
        aria-label="Close" 
        (click)="dismiss()"
        *ngIf="showCloseButton">
      </button>
    </div>
    
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    
    <div class="modal-footer" *ngIf="showFooter">
      <ng-content select="[slot=footer]"></ng-content>
      <div *ngIf="!hasCustomFooter" class="default-footer">
        <button 
          type="button" 
          class="btn btn-outline-secondary" 
          (click)="dismiss()"
          *ngIf="showCancelButton">
          {{ cancelButtonText }}
        </button>
        <button 
          type="button" 
          class="btn btn-primary" 
          (click)="confirm()"
          *ngIf="showConfirmButton">
          {{ confirmButtonText }}
        </button>
      </div>
    </div>