.default-footer {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
      width: 100%;
    }
    
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }