<form [formGroup]="detailsForm">
  <label for="name">Name</label>
  <input type="text" class="form-control" formControlName="name" />

  <label for="description">Description</label>
  <textarea class="form-control" formControlName="description"></textarea>

  <label for="notes">Notes</label>
  <textarea class="form-control" formControlName="notes"></textarea>

  <label for="dataProviderType">Data Provider Type</label>
  <select class="form-control" id="dataProviderType" formControlName="dataProviderTypeId" (change)="dataProviderTypeSelected($event)">
    <option *ngFor="let dpt of dataProviderTypes" [value]="dpt.id">{{ dpt.name }}</option>
  </select>
</form>
