// .form-container {
//     width: 75%;
//     margin: 10px auto;
//     background: white;
//     padding: 10px;
//     border-radius: 8px;
//     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
// }

.form-container {
    width: 100%;
    margin: 10px auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 10px;
}