<div class="container-fluid">
  <label for="typeTable">Entity Type Table</label>
  <select class="form-control" (change)="tableSelectionChanged($event)" id="typeTable">
    <option [value]="null">Select...</option>
    @for (et of entityTypes; track et){
    <option [value]="et">{{ et }}</option>
    }
  </select>

  <table class="table table-hover">
    @if(tableSelected){
    <thead>
      <tr>
        <button class="btn btn-outline-primary" (click)="createEntityType()">Create New</button>
        <input type="text" placeholder="search..." />
      </tr>
    </thead>
    }

    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (etr of entityTypeRecords; track etr){
      <tr>
        <td>{{ etr.name }}</td>
        <button class="btn btn-outline-danger action-btn">Delete</button>
      </tr>
      }
    </tbody>
  </table>
</div>
