<ul ngbNav #nav="ngbNav" [(activeId)]="activeTabIndex" class="nav-tabs">
  <li [ngbNavItem]="0">
    <button ngbNavLink>Details</button>
    <ng-template ngbNavContent>
      <account-details #accountDetails></account-details>
    </ng-template>
  </li>

    <li [ngbNavItem]="1">
    <button ngbNavLink>Security</button>
    <ng-template ngbNavContent>
      <p>security</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <button ngbNavLink>API</button>
    <ng-template ngbNavContent> 
      <p>api</p>
    </ng-template>
  </li>



  <li [ngbNavItem]="3">
    <button ngbNavLink>Fees</button>
    <ng-template ngbNavContent>
      <p>fees</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="4">
    <button ngbNavLink>Status</button>
    <ng-template ngbNavContent>
      <p>status</p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="row">
  <accounts-bottom-actions (saveClicked)="handleSave($event)" (cancelClicked)="handleCancel($event)" (deleteClicked)="handleDelete($event)"></accounts-bottom-actions>
</div>
