<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="'details'">
    <button ngbNavLink (click)="setActiveTab('details')">Details</button>
    <ng-template ngbNavContent>
      <account-details #accountDetails ></account-details>
    </ng-template>
  </li>

    <li [ngbNavItem]="'security'">
    <button ngbNavLink (click)="setActiveTab('security')">Security</button>
    <ng-template ngbNavContent>
      <p>security</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="'api'">
    <button ngbNavLink (click)="setActiveTab('api')">API</button>
    <ng-template ngbNavContent> 
      <p>api</p>
    </ng-template>
  </li>



  <li [ngbNavItem]="'fees'">
    <button ngbNavLink (click)="setActiveTab('fees')">Fees</button>
    <ng-template ngbNavContent>
      <p>fees</p>
    </ng-template>
  </li>

  <li [ngbNavItem]="'status'">
    <button ngbNavLink (click)="setActiveTab('status')">Status</button>
    <ng-template ngbNavContent>
      <p>status</p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="row">
  <accounts-bottom-actions (saveClicked)="handleSave(activeTab, true)" (cancelClicked)="handleCancel($event)" (deleteClicked)="handleDelete($event)"></accounts-bottom-actions>
</div>
