<form [formGroup]="accountForm">
  <label for="name">Name</label>
  <input type="text" class="form-control" formControlName="name" id="name"/>

  <label for="description">Description</label>
  <input type="text" class="form-control" formControlname="description" id="description"/>

  <label for="notes">Notes</label>
  <input type="text" class="form-control" formControlName="notes" id="notes"/>

    <label for="accountType">Account Type</label>
    <select class="form-control" formControlName="accountType" id="accountType">
        <option [value]="null">Select...</option>
        @for (at of accountTypes; track at){
            <option [value]="at">{{at.name}}</option>
        }
    </select>

  <div class="row">
    <button class="btn btn-outline-primary" (click)="save()">Save</button>
    <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  </div>
</form>
