 .toast-success {
      --bs-toast-bg: #3bcb50;
      --bs-toast-border-color: #b6d7ff;
    }
    .toast-error {
      --bs-toast-bg: #d85b65;
      --bs-toast-border-color: #f5c2c7;
    }
    .toast-warning {
      --bs-toast-bg: #e2c669;
      --bs-toast-border-color: #ffecb5;
    }
    .toast-info {
      --bs-toast-bg: #cff4fc;
      --bs-toast-border-color: #b3f0ff;
    }