 .toast-success {
      --bs-toast-bg: #d1edff;
      --bs-toast-border-color: #b6d7ff;
    }
    .toast-error {
      --bs-toast-bg: #f8d7da;
      --bs-toast-border-color: #f5c2c7;
    }
    .toast-warning {
      --bs-toast-bg: #fff3cd;
      --bs-toast-border-color: #ffecb5;
    }
    .toast-info {
      --bs-toast-bg: #cff4fc;
      --bs-toast-border-color: #b3f0ff;
    }