<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Overview</button>
		<ng-template ngbNavContent>
			<p>
                This is the overview of initial strategy configurations
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Review</button>
		<ng-template ngbNavContent>
			<p>
                This is to replay strategy and review results
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Edit</button>
		<ng-template ngbNavContent>
			<p>
                This is to edit base level configurations
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="4">
		<button ngbNavLink>Morph</button>
		<ng-template ngbNavContent>
			<p>
                This is to morph/augment strategy to create new altered strategies and compare against initial strategy
			</p>
		</ng-template>
	</li>    
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>
