<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Fees</button>
    <ng-template ngbNavContent>
        <fees></fees>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Types</button>
    <ng-template ngbNavContent>
      <entity-types></entity-types>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <button ngbNavLink>Exchanges</button>
    <ng-template ngbNavContent>
      <p>exchanges</p>
    </ng-template>
  </li>

    <li [ngbNavItem]="4">
    <button ngbNavLink>Markets</button>
    <ng-template ngbNavContent>
        <p>markets</p>
    </ng-template>
  </li>


</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>