<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="exchangeSelect">Exchange</label>
      <select class="form-control" id="exchangeSelect">
        <option>Coinbase</option>
        <option>Kraken</option>
        <option>Binance</option>
        <option>Alpaca</option>
      </select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="exchangeAccount">Exchange Account</label>
      <select class="form-control" id="exchangeAccountSelect">
        <option>ahubbard0597&#64;gmail.com</option>
        <option>admin&#64;waxmathematical.com</option>
        <option>adam&#64;waxmathematical.com</option>
      </select>
    </div>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Level</th>
          <th>30-Day Volume (USD)</th>
          <th>Maker Fee</th>
          <th>Taker Fee</th>
          <th>Asset Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td contenteditable="true">Intro 1</td>
          <td contenteditable="true">≤ $10K</td>
          <td contenteditable="true">0.40%</td>
          <td contenteditable="true">0.60%</td>
          <td contenteditable="true">>=$0</td>
        </tr>
        <tr>
          <td contenteditable="true">Intro 2</td>
          <td contenteditable="true">$10K – $50K</td>
          <td contenteditable="true">0.25%</td>
          <td contenteditable="true">0.40%</td>
          <td contenteditable="true">$500K</td>
        </tr>
        <tr>
          <td contenteditable="true">Advanced 1</td>
          <td contenteditable="true">$50K – $100K</td>
          <td contenteditable="true">0.15%</td>
          <td contenteditable="true">0.25%</td>
          <td contenteditable="true">$1M</td>
        </tr>
        <tr>
          <td contenteditable="true">Advanced 2</td>
          <td contenteditable="true">$100K – $500K</td>
          <td contenteditable="true">0.10%</td>
          <td contenteditable="true">0.20%</td>
          <td contenteditable="true">$5M</td>
        </tr>
        <tr>
          <td contenteditable="true">Advanced 3</td>
          <td contenteditable="true">$500K – $1M</td>
          <td contenteditable="true">0.08%</td>
          <td contenteditable="true">0.18%</td>
          <td contenteditable="true">$10M</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
