<!---------------------------------------------------------------------------------------------------------------------------->
<!-- CONNECTIONS GRID -->
<!--________________________________________________________________________________________________________________________-->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="grid-container">
          <connections-grid [connections]="connections" (actionSelect)="onActionSelect($event, editModal, deleteModal)"></connections-grid>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************************************************************************-->