<div class="container-fluid">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <label>Account Type</label>
        <select class="form-control" formControlName="accountType" (change)="onAccountTypeSelected()">
          <option [ngValue]="null">Select Account Type...</option>
          @for(accountType of accountTypes; track accountType){
          <option [ngValue]="accountType">{{ accountType.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <label>User</label>
        <input type="text" class="form-control" formControlName="user" />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <label>URL</label>
        <input type="text" class="form-control" formControlName="url" />
      </div>
    </div>
  </form>
</div>