<div class="modal-header">
  <h4 class="modal-title">{{ title || "Confirm Action" }}</h4>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <div class="d-flex align-items-center">
    <i class="bi bi-exclamation-triangle-fill text-warning me-3" style="font-size: 2rem"></i>
    <div>
        <ng-container *ngComponentOutlet="childComponent; inputs: childInputs"></ng-container>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">
    {{ "Cancel" }}
  </button>
  <button type="button" class="btn btn-primary" (click)="confirm()">
    {{ "Save" }}
  </button>
</div>
