<button class="btn btn-outline-primary" (click)="testSuccessToast()">Success</button>
<button class="btn btn-outline-danger" (click)="testErrorToast()">Error</button>
<button class="btn btn-outline-default" (click)="testInfoToast()">Info</button>
<button class="btn btn-outline-warning" (click)="testWarningToast()">Warning</button>
<button class="btn btn-outline-primary" (click)="openConfirmationModal()">Open Confirmation Modal</button>
<button class="btn btn-warning" (click)="openTestModal()">Test Global Modal</button>


<button class="btn btn-outline-primary" (click)="testGeoDateTimeData()">Test Geo-DateTime Data</button>

<signalr-chat></signalr-chat>

<toast></toast>